body {
 background: #fff;
 margin: 0;
}
* {
 font-family: "Poppins";
 -webkit-tap-highlight-color: #009ABE;
}
/** Nav Container **/
#ub-nav {
 width: 100%;
 height: 55px;
 position: fixed;
 top: 0;
 left: 0;
 background: #fff;
 color: #333;
 box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
}
#ub-nav-menu {
 width: 45px;
 height: auto;
 margin: 0px;
 padding: 12px;
 padding-left: 17px;
}
#ub-nav-menu > div {
 width: 27px;
 height: 3.4px;
 margin-top: 4px;
 border-radius: 0.2rem;
 background: #333;
}
#ub-nav-name {
 font-size: 20px;
 font-weight: 800;
 padding: 10px;
 margin: 0;
 margin-top: -45px;
 margin-left: 50px;
}
#ub-nav-name > span {
 color: red;
}
/** Home Container **/
#ub-home {
 background: #fff;
 margin-top: 40px;
}
/** Sign up/ Sign in **/
#ub-auth {
 position: fixed;
 top: 0;
 bottom: 0;
 width: 100%;
 height: 100%;
 background: rgba(0,0,0,0.4);
 text-align: center;
 display: none;
}
#ub-auth-form {
 position: fixed;
 top: calc(25% - 2em);
 left: calc(8% - 10px);
 padding: 15px;
 width: 82%;
 height: auto;
 background: #fff;
 box-shadow: 0 0 4px grey;
 border-radius: 0.4rem;
 max-width: 350px;
}
#ub-auth-avater {
 width: 65px;
 height: 65px;
 border-radius: 0.2rem;
}
#ub-auth-title {
 font-family: Poppins;
 font-weight: 450;
 color: #121212;
 margin-bottom: 0;
}
#ub-auth-msg {
 font-weight: 500;
 font-family: Poppins;
 color: #121212;
 font-size: 15px;
 margin-top: 9.5px;
}
#ub-auth-acc-list {
 text-align: left;
 width: auto;
 height: auto;
 padding-bottom: 8px;
 margin-bottom: 5px;
 color: #555;
}
#ub-auth-acc-list > div {
 width: auto;
 height: auto;
 padding: 10px;
}
#ub-auth-acc-list > div:active {
 background-color: #f1f1f1;
 opacity: 0.9;
}
#ub-auth-acc-list > div img {
 width: 35px;
 height: 35px;
 border-radius: 0.2rem;
}
#ub-auth-acc-list > div p {
 margin: 0;
 display: inline;
 float: right;
 min-width: 250px;
 text-align: left;
 font-size: 14px;
}
#ub-auth-acc-list > div p strong {
 font-weight: 600;
 color: #333;
}
#ub-auth-add-acc {
 padding: 12px;
 padding-top: 10px;
 text-align: left;
 width: auto;
}
#ub-auth-add-acc > big {
 font-size: 22px;
}
#ub-auth-add-acc > span {
 font-family: Poppins;
 padding-left: 15px;
}
#ub-auth-form {
 animation: 0.5s ub-auth-animation;
}
@keyframes ub-auth-animation {
 from {
  top: 1000px;
  opacity: 0;
 }
 to {
  top: calc(25% - 2em);
  opacity: 1;
 }
}
/** More **/
.container1 {
  width: 100%;
  height: 370px;
  color: #ffffff;
  border-bottom-left-radius: 100rem;
  background: linear-gradient(-67deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-position: 8% 90%;
  margin-top: 50px;
}
.header1 {
  margin: 0;
  padding: 35px;
  width: 80%;
  text-align: center;
  letter-spacing: 0.8px;
  font-family: 'Lobster', cursive;
  animation: 0.21s pop-up linear;
  text-shadow:   0px 0px 6px rgba(0,0,0,0.4);
}
@media(min-width:500px) {
  .header1 {
    font-size: 30px;
  }
}
@keyframes linear-up {
  from {
    margin-top: -90px;
    opacity: 0.1;
  }
  to {
    margin-top: -170px;
    opacity: 1;
  }
}
@keyframes pop-up {
  from {
    transform: scale(0.9);
    opacity: 0.1;
  }
  to {
    transform: scale(1.0);
    opacity: 1;
  }
}
.ubeyin--form {
  width: 76%;
  height: auto;
  background: #fff;
  box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
  border-radius: 0.35rem;
  text-align: center;
  margin: auto;
  margin-top: -170px;
  padding: 30px;
  animation: 0.21s linear-up linear;
}
.form-x-copy > h1,.form-x-copy > h2, .form-x-copy > h3, .form-x-copy > h4, .form-x-copy > h5,.form-x-copy > h6 {
  font-size: 30px;
}
.form-x-copy > input[type=text], .form-x-copy > input[type=email], .form-x-copy > input[type=password], .form-x-copy > input[type=url] {
  width: 80%;
  height: auto;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border-radius: 0.26rem;
  border: 1.5px solid #efefef;
  box-shadow: 0 0 2px lightgrey;
  color: #333;
  transition: 1s all ease;
}
.form-x-copy > input:focus {
  box-shadow: 0 0 5px lightgrey;
}
.ubeyin--btn-5x,.ubeyin--btn-4x {
  width: 100%;
  height: auto;
  padding: 14px;
  border-radius: 0.15rem;
  background: linear-gradient(-67deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  background-position: 8% 90%;
  font-size: 18px;
  color: #fff;
  border: 0;
  outline: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.ubeyin--btn-5x:hover,.ubeyin--btn-4x:hover {
  opacity: 0.8;
}
.ubeyin--btn-5x:active,.ubeyin--btn-4x:hover {
  transform: scale(0.98);
}
.ubeyin--btn-4x {
  padding: 10px;
  font-size: 16.5px;
}
.ubeyin--br-1x {
  margin-top: 10px;
}
.ubeyin--br-2x {
  margin-top: 20px;
}
.ubeyin--br-3x {
  margin-top: 30px;
}
@media(min-width:500px) {
  .container4 {
    width: 50%;
  }
}
/** Load bar **/
